.logo {
  height: 140px; 
  width: 140px;
  transition: 0.3s;
  margin-top: -30px;
  top: 0;
}
.logo1 {
  height: 150px; 
  width: 150px;
  transition: 0.2s;
  margin-top: -40px;
  top: 0;
  display: none;
  margin-bottom: -15px;
}
.title{
  text-align: center;
  font-size: 30px;
  margin-bottom: -30px;
  font-family: 'Times New Roman', Times, serif;
  width:100%;
}
.top-image {
  height: 100px;
  transition: 0.2s;
}

.header-container{
  position: fixed;
  top:0;
  width:100%;
  background-color:white;
  padding: 20px 10px;
    align-items: center;
    box-shadow: 1px 5px 20px #b1b1b1;
}

nav {
  overflow: hidden;
  text-align: center;
  top: 0;
  margin-top: -90px;
  margin-bottom: -10px;
  font-size: 20px;

}
.mobileContent{
  display:none;
}
nav a {
  display: inline-block;
  color: #777777;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

nav a:hover {
  
  opacity: 1;
  color: #9F6CDA;
  padding: 20px 20px;
  border-bottom: 2px solid #9F6CDA;
  
}
.social-icons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  margin: 0 5px;
}

.social-icons img {
  width: 20px;
  height: 20px;
}
.social-icons a:hover {
  border-bottom:none;
}
/*.contact-infos {
  
  flex-direction: column; 
  text-align: right;
  
font-size: 5px;
}*/

.contact-infos p {
  text-align: right;
margin-top: -22px;
margin-bottom: -20px;
margin-left: -100px;
margin-right: 5px;
font-size: 15px;
top:0;
}

.contact-infos a {
  color: #777777;
  text-decoration: none;
}

.contact-infos a:hover {
  border-bottom:none;
}

.line{
  border: 1px solid black; /* Set the border style */
  
}
@media screen and (max-width: 767px) {
  .header-container {
    height: 100px;
    display: none;
    align-items: center;
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000;
    padding:0;
    background-color: #fff; /* Adjust this value as needed */
  }
  .title-container{
   display: flex;
   
   
  }
  .title{
    font-size: 20px;
    margin-top: 25px;
    margin-left: -30px;
  }
  .logo {
    margin: 2px;
    width: 80px;
    height: 80px;
    display: inline;
    margin-top: -3px;
    float:left;
  }
  
  .header-text {
    display:inline-flex; /* Ensure header text is displayed inline */
    font-size: 20px;
    margin-right: 1px;
    /* Adjust the font size of the header text */ /* Add spacing between the header text and the button */
  }
  
.mobileContent{
  height: 70px;
  display: block;
  align-items: center;
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000;
  padding:0;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgb(104, 104, 104);
}
.mobileContent logo{
  margin-top: 20px;
    width: 65px;
    height: 65px;

}
.butt {
  display: inline-block; /* Ensure button is displayed inline */
  padding: 15px 20px; /* Blue color for the button */
  border: 1px solid black;
  border-radius: 2px;
  margin: 20px;
  float:right;
  cursor: pointer;
  background-image: url('menu.png'); /* Add the path to your image */
  background-size: cover;
  background-position: center;
  margin-top: 5px;
  margin-right: 10px;
}
nav a {
  display: none;
}

/* Style for the navigation list */
#navList {
  overflow: hidden;
  display: none; /* Initially hide the navigation list */
  position: absolute; /* Position the dropdown list */
  top: 100%; /* Align the top of the list with the bottom of the button */
  left: 200px; /* Position the list to the left of the button */
 /* Align the left of the list with the left of the button */
  width: 100%; /* Make the dropdown list as wide as the button */
  background-color: #fff; /* Adjust background color */
  border: 1px solid #ddd; /* Add border */
  border-top: none; /* Center the list items */
  margin-top: 0px;;
}

/* Style for the navigation links */
#navList a {
  display: block;
  padding: 10px 10px;
  color: #333; /* Dark color for the navigation links */
  text-decoration: none;
  transition: background-color 0.3s;
  z-index: 1000;
  text-align: left; /* Smooth transition for background color */
}

/* Hover effect for navigation links */
#navList a:hover {
  background-color: #f0f0f0; /* Light gray background color on hover */
}
}


.bgcolor {
  width: 100%;
  height: 100vh; /* Adjust as needed */
}

/* Default background image */
.bgcolor {
  background-image: url(purple.jpg); /* Path to default background image */
  background-size: cover;
  margin-top: 140px;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .bgcolor {
      background-image: url(purple.jpg); /* Path to mobile background image */
      background-size: cover;
      margin-right: -100px;
      margin-top: -70px;
  }
}


  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw; /* Set the width to 100% of the viewport width */
  max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
  margin: 0 auto;
  }
  
  #typed-text {
    font-family: 'Arial', sans-serif;
    font-size: 50px;
     /* Cursor border style */
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    color: #95BD41;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
  }
  @media screen and (max-width: 767px) {
    #typed-text {
        font-size: 20px; /* Decrease font size for mobile */
         /* Add color value for the border */
        white-space: nowrap;
        top: 50%; /* Position the text at the vertical center */
        left: 100%;
        text-align: center;
        color: #ffffff;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        margin:0;
    }
}
  
  #cursor {
    display: inline-block;
    vertical-align: middle;
    animation: blink 0.8s infinite;
  }
  @keyframes blink {
    0%, 100% {
      border-color: transparent;
    }
    50% {
      border-color: #000; /* Cursor color */
    }
  }

  .contact-box {
    display: flex;
    justify-content: space-around;
    background-color: #D1C9D8;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 40px;
    box-sizing: border-box;
    margin-top: -60px;
    
  }

  .contact-info {
    text-align: center;
    margin-top: -20px;
    margin-bottom: -20px;
    font-size: 20px;
  }
  .contact-info a {
    color:#9F6CDA;
  }
  .contact-info a:hover {
    color :#95BD41;
    opacity: 1;
  }
  @media screen and (max-width: 600px) {
    .contact-box {
        flex-direction: column;
        padding: 10px;
        margin: 20px;
        margin-top: -30px;
    }
    .contact-info {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }
}
  /*Services*/
  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.Ser{
  
  text-align: center; 
  font-size: 32px;
}
.sercont {
    background-color: #f7eeff;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

.service {
    width: 30%;
    text-align: center;
    margin-top: 20px;
}

.service img {
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

/* Style for service titles */
.service h3 {
  margin-top: 10px;
    font-size: 1.2em;
}

/* Style for service links */
.service h3 a {
    color: black;
    text-decoration: none;
}

/* Hover effect for service links */
.service h3 a:hover {
    text-decoration: underline;
}

.service:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    .service {
        width: 100%; /* Set the width to 100% for mobile devices */
    }
}


  /* why*/
  .why-home-physio {
    background-color: #f7edff;
    
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .why-home-physio h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #111111;
  }
  
  .why-home-physio p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #666;
  }
  
  .why-home-physio ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .why-home-physio li {
    flex: 1 1 300px;
    margin: 10px;
    font-size: 18px;
    line-height: 1.5;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .why-home-physio li:hover {
    transform: scale(1.05);
  }
  
  

  /*Doctor*/
  
  .doctor-bio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    background-color: #ffffff;
    margin-top: 50px;
  }
  .doctor-image{
    background-color:#D1C9D8;
    padding: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .doctor-bio img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a modern look */
    transition: transform 0.3s ease-in-out; /* Add a smooth transition on hover */
    margin-left: 70px;
    margin-right: 10px;
    overflow: hidden;
  }
  
  .doctor-bio img:hover {
    transform: scale(1.1);
    overflow:hidden; /* Enlarge the image on hover for an interactive effect */
  }
  
  .doctor-bio h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #9F6CDA;
    margin-top: -70px;
    margin-left: 70px;
    
  }
  
  .doctor-bio p {
    font-size: 18px;
    line-height: 1.6;
    color: #111111;
    margin-right: 70px;
    margin-left: 70px;
  }
  @media only screen and (max-width: 768px) {
    .doctor-bio {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        text-align: center; /* Center align text */
    }

    .doctor-bio img {
        width: 150px; /* Adjust image width for smaller screens */
        height: 150px; /* Adjust image height for smaller screens */
        margin: 0 0 20px;
        border-left-radius: 10px;
         /* Add spacing between image and text */
    }

    .doctor-bio h2 {
        font-size: 24px; /* Decrease font size for smaller screens */
        margin: 0 0 10px; /* Add spacing below heading */
    }

    .doctor-bio p {
        font-size: 16px; /* Decrease font size for smaller screens */
        margin: 0; 
        padding:20px;/* Remove margin */
    }
}
  /*map*/
  .home-physio-map {
    display: flex;
    align-items: center;
    
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
  }
  .home-physio-map h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    color:#9F6CDA;
  }
  
  .home-physio-map p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .home-physio-map ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .home-physio-map li {
    flex: 300px;
    margin: 5px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  #map {
    width: 60%; 
    height: 450px;
    border: 0px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px ;
    overflow: hidden;
    margin-left: -150px; 
    
    /* Set the width of the map container */
    float: right;
    background-color:#D1C9D8;
    padding: 30px;
    padding-right: 90px;
    /*background-image: linear-gradient(to right, #D1C9D8, #9f6cda);*/
  }
  
  
  #map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;

  }
  @media screen and (max-width: 767px) {
    .home-physio-map {
      display: inline-block;
      margin: 20px;
    }
    .maptext h2{
      text-align: center; 
      font-size: 32px;
    }
    
    #map {
      
      height: 350px;
      width: 350px;
      margin-right: -10px;
      margin-left: -20px;
      width: 100%; 
      padding: 10px 10px;
      border-radius: 10px;/* Set the width of the map container */
    } 
    .home-physio-map ul {
      justify-content: center; /* Change back to flex-start for mobile */
  }
    .home-physio-map li {
      flex-basis: calc(50% - 10px); /* Set the initial size of the flex item to approximately 50% minus margin for mobile */
  }
    #map iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }

    }
  
  
  
  
  
  /*Footer*/
  @media screen and (max-width: 767px) {
    .logoj{
      margin-left:200px;
      padding: 10px 10px;
      float: right;
      margin-top: 200px;
      margin-right:-400px;
    }
    
    .logoj p {
      margin-top: 10px;
      font-size: 14px;
      margin-right: -75px;
    }
  }
  footer {
    background-color: #D1C9D8;
    color: #111111;
    padding: 30px 0;
  }
  
  .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    margin-bottom: 20px;
  }
  .footer-sectionabout{
  margin-right: 20px;
  }
  .footer-section h2 {
    font-size: 18px;
  }
  
  .footer-section p {
    font-size: 14px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #111111;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  .copyright {
    text-align: center;
    font-size: 10px;
    margin-top: 40px;
  }
  .logoj {
    float: right;
    margin-top: -90px;
    margin-right: 100px;
  }
  
  .logoj img {
    width: 100px; /* Adjust size as needed */
  }
  
  .logoj p {
    margin-top: 10px;
    font-size: 14px;
  }
  
