.logo {
  height: 90px; 
}

.header-container {
    display: flex;
    align-items: center;
    position: sticky; /* Make the header sticky */
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000; 
  background-color: #fff;
  }
  .header-text {
    flex: 1;
    color: #002152;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-right: 50px;
  }
  
  nav {
   
    overflow: hidden;
    text-align: right;
    
  }

  nav a {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
  }

  nav a:hover {
    background-color:#133A74;
    opacity: 1;
    color: rgb(255, 255, 255);
  }
  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 50px;
  }
  
  
  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 50px;
    
  }
  .sercont{
    background-color: #f5f5f5;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .service {
    width: 30%;
    text-align: center;
    margin-top: 20px;
  }
  
  
  .service img {
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  /* Style for service titles */
  .service h3 {
    margin-top: 10px;
    font-size: 1.2em;
  }
  
  /* Style for service links */
  .service h3 a {
    color: black;
    text-decoration: none;
  }
  
  /* Hover effect for service links */
  .service h3 a:hover {
    text-decoration: underline;
  }
  .service:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #FallsAssessmentPreventionandRehabilitation{
    padding-top: 100px; 
  }
  #OperativeOrthopaedicRehabilitation{
    padding-top: 100px; 
  }
  #MusculoskeletalInjuryRehabilitation{
    padding-top: 100px;
  }  
  #RehabilitationforElderlyFrailty{
    padding-top: 100px;
  }
  #NeurologicalRehabilitation{
    padding-top: 100px;
  }
  .stuff{
    padding-left:20px;
    padding-right: 50px;
    
  }


  /*footer*/
footer {
  background-color: #133A74;
  color: #fff;
  padding: 30px 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  margin-bottom: 20px;
}
.footer-sectionabout{
margin-right: 20px;
}
.footer-section h2 {
  font-size: 18px;
}

.footer-section p {
  font-size: 14px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}